<h1>Second Page</h1>

<p>This is the second page of this document</p>

<a href="https://docs.vmware.com/en/VMware-Horizon-Cloud-Service---next-gen/services/hzncloud.nextgen/GUID-6E1B1AEA-67A5-4255-A4BD-EE2F80511E1D.html">Introduction to Using VMware Horizon Cloud Service - next-gen</a>


<a href="https://docs.vmware.com/en/VMware-Horizon-Cloud-Service---next-gen/services/hzncloud.nextgen/GUID-EE2F80511E1D.html">Introduction to Using VMware Horizon Fake</a>

<img src="image.png"> Not Existing image

'Master and Slave branches should be killed' is not a correct statement according to the Inclusive Terminology Svc.
